<!DOCTYPE html>
<!-- Informa que utilizaremos funcionalidades do Thymeleaf -->
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Alunos</title>
    <!-- Corrigido para stylo.css -->
    <link rel="stylesheet" th:href="@{/css/stylo.css}">
</head>

<body>
    <h1>Lista de Alunos</h1>
    
    <!-- Link para abrir o formulário -->
    <a th:href="@{/alunos/novo}">
        Cadastrar novo aluno
    </a>
    <br><br>

    <!-- Tag <table> adicionada para corrigir a estrutura -->
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Curso</th>
            </tr>
        </thead>
        <tbody>
            <!-- th:each funciona como uma repetição -->
            <tr th:each="aluno : ${alunos}">
                <td th:text="${aluno.nome}">
                    Nome
                </td>
                <td th:text="${aluno.idade}">
                    Idade
                </td>
                <td th:text="${aluno.curso}">
                    Curso
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>