<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Editar Aluno</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="container">
        <h1>Editar Aluno</h1>
        <form th:action="@{/alunos/editar/{id}(id=${aluno.id})}" th:object="${aluno}" method="post">
            <div class="campo">
                <label>Nome:</label>
                <input type="text" th:field="*{nome}">
            </div>
            <div class="campo">
                <label>Idade:</label>
                <input type="number" th:field="*{idade}">
            </div>
            <div class="campo">
                <label>Curso:</label>
                <input type="text" th:field="*{curso}">
            </div>
            <button type="submit">
                Salvar alterações
            </button>
        </form>
        <a th:href="@{/alunos}">
            Voltar
        </a>
    </div>
</body>

</html>